In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('comments.csv', encoding='utf-16')

In [16]:
df.head(2)

  vid,vdate,comment_id,comment,channel_id,video_title,like_count,published_date,updated_date,classifeir
0  0FXKASB1Bd0,2020-11-19T15:45:26Z,UgyaeoL1ng73-...
1  0FXKASB1Bd0,2020-11-19T15:45:26Z,Ugxat68RursVG...

In [24]:
df['classifier'] = 1

In [25]:
df.to_csv('comments1.csv',encoding='utf-16')

In [6]:
df_con = pd.read_csv('contents.csv', encoding='utf-16')

In [7]:
df_con.head()

                                            contents          vid
0   තුඹස් කණ්ඩායම් සතු වඩාත් වටිනා ම ක්‍රීඩකයෙක් ...  DdozTMqfMQs

In [10]:
li_id = df['comment_id'].tolist()

In [28]:
li_id

['UgyaeoL1ng73-yMxRKp4AaABAg',
 'Ugxat68RursVGNvvHk54AaABAg',
 'UgxnJxjSIGNIGo7KeCx4AaABAg',
 'Ugyx-SjT3QCI88cXj5V4AaABAg',
 'UgzQLO6HvnUNt_wxzOx4AaABAg',
 'UgzV1aN5VtSTSpxxVeR4AaABAg',
 'UgwziRbDRf_JiVHUCsl4AaABAg',
 'UgwGN7NVadx9KipftjF4AaABAg',
 'UgzRu2T0IQcwFPtpeod4AaABAg',
 'UgzEC04MGkQ681wLts14AaABAg',
 'UgyAR2vuUSaX82VQIbN4AaABAg']

In [14]:
x = df_con.shape[0]

In [15]:
x

1